body {
  padding-top: 15px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.carousel {
    border: 2px solid #000000;
}

.carousel-item img {
  max-width: 80%; /* Ensure the image doesn't exceed the width of its container */
  height: auto; /* Maintain the aspect ratio */
  display: block; /* Remove any extra spacing below the images */
  margin: 0 auto; /* Center the images within the carousel items */
}

.carousel-text {
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
}