body {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: orangered;
}

html {background-color: black}

/* top of page */

.jumbotron {
  text-align: center;
}

.button {
  background-color: black; 
  color: white; 
  border: 2px solid gold;
}

.yt-button {

  background-color: black; 
  color: white; 
  border: 2px solid gold;

}

.button:hover {background-color: grey}

.button:active {
  background-color: lightgray;
  transform: translateY(2px);
}

/* HEADER END */

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000000;
}

.carousel-item img {
    padding-top: 15px;
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.carousel-text {
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
}

.carousel-trigger {
  padding-top: 15px;
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}



.closeButton {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 20px;
}

#closeCarousel {
  background-color: #0047AB; /* Green background */
  color: white; /* White text */
  padding: 10px 20px; /* Some padding */
  border: none; /* No border */
  border-radius: 2px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  display: block;
  margin: 20px auto;
}
