h1 {
    font-size:50px;
    font-family:Impact;
    color:darkorange;
  }
  
  h2 {
    font-family:Impact;
    color:darkorange;
  }
  
  body {
    background-color:black;
  }
  
  p {
    color:darkorange;
  }